body  {
  background-image: url("Background1.png");
  background-attachment: fixed;
  background-size: 100% 200%;
  background-repeat: no-repeat;
  background-position: center top;
  /* background-color: #cccccc; */
}
div h1 {
  color: rgb(34, 95, 105);  
  text-align: center;
  /* text-shadow: 2px 2px; */
  font-family: Lobster;
}

div h2 {
  color: rgb(34, 95, 105); 
  font-family: Lobster; 
}

